SOAP Web Services with JAX-WS/client/src/main/java/com/benyissa/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BankWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:9191/?xsd=1"/>
</xsd:schema>
</types>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<message name="accountsList">
<part name="parameters" element="tns:accountsList"/>
</message>
<message name="accountsListResponse">
<part name="parameters" element="tns:accountsListResponse"/>
</message>
<message name="convertToMAD">
<part name="parameters" element="tns:convertToMAD"/>
</message>
<message name="convertToMADResponse">
<part name="parameters" element="tns:convertToMADResponse"/>
</message>
<portType name="BankService">
<operation name="getAccount">
<input wsam:Action="http://ws/BankService/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://ws/BankService/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
<operation name="accountsList">
<input wsam:Action="http://ws/BankService/accountsListRequest" message="tns:accountsList"/>
<output wsam:Action="http://ws/BankService/accountsListResponse" message="tns:accountsListResponse"/>
</operation>
<operation name="convertToMAD">
<input wsam:Action="http://ws/BankService/convertToMADRequest" message="tns:convertToMAD"/>
<output wsam:Action="http://ws/BankService/convertToMADResponse" message="tns:convertToMADResponse"/>
</operation>
</portType>
<binding name="BankServicePortBinding" type="tns:BankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="accountsList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="convertToMAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankWebService">
<port name="BankServicePort" binding="tns:BankServicePortBinding">
<soap:address location="http://localhost:9191/"/>
</port>
</service>
</definitions>